#home{
/* background: linear-gradient(to right, #E6E6FA 0%, #FFF0F5 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: brightness(100%); */
  /* background-image: url("https://i.pinimg.com/originals/07/6f/fd/076ffd4b558b8c5208872b51a7fa226f.jpg"); */
  /* background-repeat: no-repeat; */

}
.bb{
    border: 1px solid black!important;
  }